


.view_title{
    font-family: 'Parisienne', cursive;
    /*font-family: 'Lato', sans-serif;*/
}

.menu-text{
    font-size: 14px;
    text-transform: capitalize !important;
    font-weight: normal;
}

.niggi{
    color: red;
}

.sec-1{
    /*background-color: #1e7e34;*/
    background-image: url(../img/cocina/eggs.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    /*padding-top: 100px;*/
    /*padding-bottom: 100px;*/
}

.sec-1-button{
    height: 150px;
    width: 150px;
    border: solid 2px #212528;
    border-radius: 50%;

    align-items: center;
    display: flex;
    justify-content: center;
}

.sec-2-button{
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sec-3-button{
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sec-1-text{

}

.sec-2-text{
    color: white;
}

.sec-2{
    background-color: #2E2C36;
    align-items: center;
    display: flex;
    justify-content: center;
}
.sec-3{
    background-color: lightgray;
    align-items: center;
    display: flex;
    justify-content: center;
}
.sec-video{

}



.sec-4{
    background-image: url(../img/cocina/acsc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-5{
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url(../img/cocina/work.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-6{
    background-image: url(../img/cocina/sacs.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}



.magazine-item{

    transition: all 0.3s ease;
}

.magazine-item:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    transition: all 0.3s ease;
}


.center-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.bg-dark-grey{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkgrey;
}

.bg-grey{
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
}

.table{
    margin-bottom: 0;
}

.price-panel{

    /*padding-left: 4px!important;*/
    /*padding-right: 4px!important;*/
}

/*.modal {*/
    /*text-align: center;*/
    /*padding: 0!important;*/
/*}*/

/*.modal:before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
    /*margin-right: -4px;*/
/*}*/

/*.modal-dialog {*/
    /*display: inline-block;*/
    /*text-align: left;*/
    /*vertical-align: middle;*/
/*}*/

.btn-pink{
    background-color: #00AC9D;
}

.text-pink{
    color: #00AC9D;
}

.btn-pink:hover{
    background-color:#00AC9D;
}

.text-xxs{
    font-size: 12px;
}

.center-content{
    vertical-align: middle;
}

.bg-pink{
    background-color: #00AC9D;
}

.hover-pink:hover{
    background-color: #00AC9D!important;
    color: #FFFFFF!important;
}

.control:hover{
    color: #00AC9D!important;
}

.bg-blue{
    background-color: #364158;
}

.bg-light-blue{
    background-color: #0a83df;
}


.vcenter{
    vertical-align: middle!important;
}